html {
    position: relative;
    min-height: 100%;
}

html,body {
    line-height: 1.4;
    max-width: 650px;
    font-size: 20px;
    padding: 0 10px;
    margin: 0 auto;
}

@media (prefers-color-scheme: light) {
    body {
        color: #444444;
        background-color: #EEEEEE
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: #EEEEEE;
        background-color: #121212
    }
}
